<app-header titulo="Cards"> </app-header>

<ion-content padding>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="dark">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> Score </ion-label>
    </ion-item>

    <ion-card-content> 
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio quos nam ut ducimus corporis blanditiis, cumque dolor illum minus. Reiciendis quidem dolor excepturi hic ipsa assumenda repudiandae itaque, dolorem eveniet.
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"> </ion-img>
    <ion-card-content> Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum eaque, est rem nemo ducimus blanditiis, recusandae nostrum officiis corrupti illum quo exercitationem unde. Odio debitis ipsam in ratione, obcaecati temporibus.
    </ion-card-content>
  </ion-card>

</ion-content>
